<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
  <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
</head>

<body >
  <div class="overflow-hidden relative">
      <!-- news paper -->
  <section>
    <img class="news_paper_1 absolute z-10 right-[-7%] top-[6%] scale-150" src="./assets/images/news_paper_1.png" alt="news_paper_1">
    <img class="news_paper_2 absolute z-10 left-[20%]  scale-[1.7]" src="./assets/images/news_paper_2.png" alt="news_paper_2">
    <img class="news_paper_3 absolute z-10 left-[-6%] top-[5%] scale-150" src="./assets/images/news_paper_3.png" alt="news_paper_3">
                <!-- 小滑鼠 -->
    <div class="absolute top-[4%] right-[50%] z-40 ">
      <div class="h-[44px] w-[30px] rounded-xl border-black border-2 mx-auto relative">
        <div class="absolute h-[14px] w-[3px] left-[11px] top-[-7px] bg-black rounded-xl">
        </div>
      </div>
      <p class="text-center mt-1">向下滾動</p>
    </div>
  </section>
    <header class="px-6 py-2.5 bg-Brown text-white text-xl xl:px-10">
      <div class=" flex justify-between mx-auto max-w-screen-2xl">
      <!-- 漢堡選單 -->
        <button class=" md:hidden">
          <!-- 比例要調整 -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-12 h-10 dark:text-gray-100">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
        <!-- logo -->
        <a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class=" hidden md:flex items-center ">
          <img src="./assets/images/hex_logo.png" alt="hex_logo">
        </a>
        <!-- 立刻報名 -->
        <div class="items-center flex ">
          <ul class="hidden space-x-9 md:flex mr-4">
            <li class="hidden md:flex ">
              <a  href="#" class="flex items-center   ">關卡任務</a>
            </li>
            <li class="hidden md:flex">
              <a  href="#" class="flex items-center   ">競賽說明</a>
            </li>
          </ul>
          <button class="self-center px-6 md:px-14 py-1.5 font-medium rounded-full bg-Red ">立即報名</button>
        </div>
      </div>
    </header>
    <!-- 這是從css處抓的相對路徑不同, 且不要將content放這 -->
    <div class=" bg-cover bg-repeat  bg-[url('../images/bg_desktop.png')]">
    <%- contents %>
    
      <footer class="footer ">
        <div class="bg-Brown">
          <div class=" mx-auto max-w-screen-2xl  flex flex-col justify-center px-14 pt-16 pb-16    text-white">
            <p class="text-3xl md:text-6xl text-center pb-16">贊助單位</p>
            <ul class="  flex flex-col md:flex-row space-y-12 md:space-y-0 md:justify-between md:items-center ">
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/BlockStudio.png" alt="BlockStudio"></a></li>
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/KDAN.png" alt="KDAN"></a></li>
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/TITANSOFT.png" alt="TITANSOFT"></a></li>
            </ul>
          </div>
        </div>
        <p class="text-center py-2.5 text-Brown">
    
          六角日報 © Code: Bruno  /  Design: KT
        </p>
      </footer>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
