<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>

    <link rel="stylesheet" href="./assets/style/aos.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon"/>

</head>

<body >
  <div class="overflow-hidden relative entry-section">
      <!-- loading animation -->
    <section class=" w-screen h-screen absolute left-0 top-0 right-0 bottom-0 z-[100] bg-cover bg-repeat  bg-[url('../images/bg_desktop.png')]" id="loading-page">
      <div class="w-[200px] h-[200px] mx-auto mt-[138px] mb-[25px]" id="wand-animation"></div>
      <p class="font-ARJULIAN text-[23px] leading-[26px] text-center">努力加載中...</p>
    </section>
      <!-- news paper -->
  <section>
    <img class="news_paper_1 absolute z-10 top-[2%] right-[-7%] md:top-[6%] scale-150" src="./assets/images/news_paper_1.png" alt="news_paper_1">
    <img class="news_paper_2 absolute z-10  left-[20%] scale-[2] md:scale-[1.7]" src="./assets/images/news_paper_2.png" alt="news_paper_2">
    <img class="news_paper_3 absolute z-10 left-[-6%] top-[5%] scale-150" src="./assets/images/news_paper_3.png" alt="news_paper_3">
                <!-- 小滑鼠 -->
    <div class="mouse absolute top-[4%] right-[50%] translate-x-1/2 z-40 ">
      <div class="h-[44px] w-[30px] rounded-xl border-black border-2 mx-auto relative">
        <div class="mouse_scroll absolute h-[14px] w-[3px] left-[11px] top-[-10px] bg-black rounded-xl">
        </div>
      </div>
      <p class="mouse_scroll text-center mt-1">向下滾動</p>
    </div>
  </section>
    <header class="relative px-6 py-2.5 bg-Brown text-white text-xl xl:px-10">
      <div class=" flex justify-between mx-auto max-w-screen-2xl">
      <!-- 漢堡選單 -->
        <button type="button" class="menu md:hidden">
          <!-- 比例要調整 -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-12 h-10 dark:text-gray-100">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
        <div class="menu_dropdown absolute left-0 right-0 top-0 h-[176px] -translate-x-full z-20 flex justify-center items-center bg-Brown">
          <button type="button" class="close-btn absolute left-[15px] top-[15px]"><img src="./assets/images/close.png" alt="close"></button>
          <ul class="list-none text-lg  text-white ">
            <li class="mb-6"><a class="hover:text-Red" href="https://2022.thef2e.com/news">關卡任務</a></li>
            <li><a class="hover:text-Red" href="https://2022.thef2e.com/works">作品列表</a></li>
          </ul>
        </div>
        <!-- logo -->
        <a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class=" hidden md:flex items-center ">
          <img src="./assets/images/hex_logo.png" alt="hex_logo">
        </a>
        <!-- 立刻報名 -->
        <div class="items-center flex ">
          <ul class="hidden space-x-9 md:flex mr-4">
            <li class="hidden md:flex ">
              <a  href="https://2022.thef2e.com/news" class="flex items-center hover:text-Red ">關卡任務</a>
            </li>
            <li class="hidden md:flex">
              <a  href="https://2022.thef2e.com/works" class="flex items-center hover:text-Red ">作品列表</a>
            </li>
          </ul>
          <button class="btn-login self-center px-6 md:px-14 py-1.5 font-medium rounded-full bg-Red ">立即報名</button>
        </div>
      </div>
    </header>
    <!-- 這是從css處抓的相對路徑不同, 且不要將content放這 -->
    <div class=" bg-cover bg-repeat  bg-[url('../images/bg_desktop.png')]">
    <%- contents %>
    
      <footer class="footer ">
        <div class="bg-Brown">
          <div class=" mx-auto max-w-screen-2xl  flex flex-col justify-center px-14 pt-16 pb-16    text-white">
            <p class="text-3xl md:text-6xl text-center pb-16">贊助單位</p>
            <ul class="  flex flex-col md:flex-row space-y-12 md:space-y-0 md:justify-between md:items-center ">
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/BlockStudio.png" alt="BlockStudio"></a></li>
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/KDAN.png" alt="KDAN"></a></li>
              <li><a href="" class="flex justify-center items-center"><img class="w-100 h-auto" src="./assets/images/TITANSOFT.png" alt="TITANSOFT"></a></li>
            </ul>
          </div>
        </div>
        <p class="text-center py-2.5 text-Brown">
    
          六角日報 © Code: Bruno  /  Design: KT
        </p>
      </footer>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
