@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
  font-family: "AR JULIAN";
  src: url("./font/ARJULIAN");
  /* ar-julian */
}
  html {
    font-family: "AR JULIAN","Noto Serif TC","Noto Sans TC", system-ui, sans-serif;
  }
  body{
    cursor: url(../images/cursor.png), default;
  }
.text-last-justify{
  text-align-last: justify;

}
@media screen and (min-width: 1280px) { 
  .text-last-justify{
    text-align-last: center;
   }
  }



}

